@import 'colors';
@import 'resolutions';
@import 'fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@mixin style($color , $padd , $bg-color , $f-size) {
    color: $color;
    padding: $padd;
    background: $bg-color;
    font-size: $f-size;
}

.title {
    @include style($base-color,5%,$primary-color, 20px);
}

.menu {
    @include style($base-color,2%,$second-color, 12px);
    margin-top:  3px;
}

.principal {
    @include style($second-color ,5%,$base-color, 12px);
    margin-top: 1%;
}

.aside {
    @include style($base-color,5%,$second-color, 12px);
    margin-top: 2%;
    text-align: center;
    line-height: 18px;
}

.pie {
    @extend .aside;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (max-width: 768px) {
  .container {
    width: 750px;
  }
  @for $i from 1 through 12 {
    .small-#{$i} {
      width: columWidth($i) ;
    }
  }

}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  @for $i from 1 through 12 {
    .medium-#{$i} {
      width: columWidth($i) ;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  @for $i from 1 through 12 {
    .large-#{$i} {
      width: columWidth($i) ;
    }
  }
}


.row {
    max-width: 960px;
    margin: 0 auto;
}
