@import 'colors';
@import 'resolutions';
@import 'fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@mixin style($color , $padd , $bg-color , $f-size) {
    color: $color;
    padding: $padd;
    background: $bg-color;
    font-size: $f-size;
}

.title {
    @include style($base-color,10px,$primary-color, 20px);
}

.menu {
    @include style($base-color,10px,$second-color, 12px);
    margin-top: 3px;
}

.principal {
    @include style($second-color ,10px,$base-color, 12px);
    margin-top: 1%;
}

.aside {
    @include style($base-color,10px,$second-color, 12px);
    margin-top: 4px;
    text-align: center;
    line-height: 18px;
}

.pie {
    @extend .aside;
}
@media (min-width: 768px) {
     @for $i from 1 through 12{
        .small-#{$i} {
            width: columWidth($i);
            float: left;
        }
    }
}
@media (min-width: 992px) {
     @for $i from 1 through 12{
        .medium-#{$i} {
            width: columWidth($i);
            float: left;
        }
    }
}
@media (min-width: 1200px) {
     @for $i from 1 through 12{
        .large-#{$i} {
            width: columWidth($i);
            float: left;
        }
    }
}

.row {
    margin: 0 auto;
}

ol{
  list-style: none;
  padding-left: 20px;
}
